@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(
      circle at var(--x) var(--y),
      #171825 40%,
      #6366f1 50%,
      #8e64ff,
      #f92672
    );
    mix-blend-mode: darken;
  }
}
.card-bg-characters {
  -webkit-mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
}
